-- ============================================================================
-- MUFFIN NURSERY - SUPABASE DATABASE SCHEMA
-- Part 1: Extensions and Enums
-- ============================================================================

-- Enable extensions
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";
CREATE EXTENSION IF NOT EXISTS pg_trgm;
CREATE EXTENSION IF NOT EXISTS pg_stat_statements;

-- ============================================================================
-- ENUM TYPES
-- ============================================================================

CREATE TYPE stock_status AS ENUM ('in_stock', 'low_stock', 'out_of_stock');
CREATE TYPE difficulty_level AS ENUM ('beginner', 'intermediate', 'expert');
CREATE TYPE light_requirement AS ENUM ('low', 'medium', 'bright', 'full_sun');
CREATE TYPE water_requirement AS ENUM ('low', 'medium', 'high');
CREATE TYPE plant_size AS ENUM ('small', 'medium', 'large');
CREATE TYPE event_type AS ENUM ('workshop', 'tour', 'market');
CREATE TYPE order_status AS ENUM ('pending', 'confirmed', 'processing', 'shipped', 'delivered', 'cancelled');
CREATE TYPE payment_status AS ENUM ('pending', 'paid', 'failed', 'refunded');
CREATE TYPE payment_method AS ENUM ('card', 'bank_transfer', 'jazzcash', 'easypaisa');
CREATE TYPE delivery_type AS ENUM ('delivery', 'pickup');
-- ============================================================================
-- MUFFIN NURSERY - SUPABASE DATABASE SCHEMA
-- Part 2: Core Product Tables
-- ============================================================================

-- ============================================================================
-- CATEGORIES TABLE
-- ============================================================================
CREATE TABLE categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    slug TEXT UNIQUE NOT NULL,
    name TEXT NOT NULL,
    description TEXT,
    image_url TEXT,
    parent_id UUID REFERENCES categories(id) ON DELETE SET NULL,
    sort_order INTEGER DEFAULT 0,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- ============================================================================
-- USE CASE TAGS (Shop by Need)
-- ============================================================================
CREATE TABLE use_case_tags (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    slug TEXT UNIQUE NOT NULL,
    name TEXT NOT NULL,
    description TEXT,
    icon TEXT,
    sort_order INTEGER DEFAULT 0,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

-- ============================================================================
-- MOOD TAGS (Shop by Atmosphere)
-- ============================================================================
CREATE TABLE mood_tags (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    slug TEXT UNIQUE NOT NULL,
    name TEXT NOT NULL,
    description TEXT,
    sort_order INTEGER DEFAULT 0,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

-- ============================================================================
-- PRODUCTS TABLE (with permanent SKU)
-- ============================================================================
CREATE TABLE products (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    sku TEXT UNIQUE NOT NULL,
    name TEXT NOT NULL,
    slug TEXT UNIQUE NOT NULL,
    description TEXT NOT NULL,
    short_description TEXT,
    category_id UUID NOT NULL REFERENCES categories(id) ON DELETE RESTRICT,
    price DECIMAL(10, 2) NOT NULL CHECK (price >= 0),
    compare_at_price DECIMAL(10, 2) CHECK (compare_at_price >= 0),
    currency TEXT DEFAULT 'PKR',
    stock_status stock_status DEFAULT 'in_stock',
    stock_count INTEGER DEFAULT 0 CHECK (stock_count >= 0),
    low_stock_threshold INTEGER DEFAULT 5,
    difficulty difficulty_level DEFAULT 'beginner',
    light_requirement light_requirement NOT NULL,
    water_requirement water_requirement DEFAULT 'medium',
    size plant_size DEFAULT 'medium',
    is_new_arrival BOOLEAN DEFAULT false,
    is_pet_safe BOOLEAN DEFAULT false,
    is_featured BOOLEAN DEFAULT false,
    search_vector TSVECTOR,
    meta_title TEXT,
    meta_description TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    published_at TIMESTAMPTZ
);

-- ============================================================================
-- PRODUCT IMAGES (Cloudflare R2)
-- ============================================================================
CREATE TABLE product_images (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    product_id UUID NOT NULL REFERENCES products(id) ON DELETE CASCADE,
    url TEXT NOT NULL,
    thumbnail_url TEXT,
    medium_url TEXT,
    large_url TEXT,
    alt_text TEXT,
    sort_order INTEGER DEFAULT 0,
    is_primary BOOLEAN DEFAULT false,
    r2_key TEXT,
    r2_bucket TEXT DEFAULT 'muffin-images',
    created_at TIMESTAMPTZ DEFAULT NOW()
);

-- ============================================================================
-- PRODUCT VARIANTS (separate SKUs for sizes/pots)
-- ============================================================================
CREATE TABLE product_variants (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    product_id UUID NOT NULL REFERENCES products(id) ON DELETE CASCADE,
    sku TEXT UNIQUE NOT NULL,
    name TEXT NOT NULL,
    description TEXT,
    price DECIMAL(10, 2) NOT NULL CHECK (price >= 0),
    stock_status stock_status DEFAULT 'in_stock',
    stock_count INTEGER DEFAULT 0 CHECK (stock_count >= 0),
    sort_order INTEGER DEFAULT 0,
    is_default BOOLEAN DEFAULT false,
    is_active BOOLEAN DEFAULT true,
    options JSONB DEFAULT '{}',
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- ============================================================================
-- CARE INFORMATION
-- ============================================================================
CREATE TABLE care_info (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    product_id UUID NOT NULL UNIQUE REFERENCES products(id) ON DELETE CASCADE,
    light TEXT,
    water TEXT,
    humidity TEXT,
    temperature TEXT,
    soil TEXT,
    fertilizer TEXT,
    toxicity TEXT,
    light_summary TEXT,
    water_summary TEXT,
    pet_safe_note TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- ============================================================================
-- JUNCTION TABLES
-- ============================================================================
CREATE TABLE product_use_cases (
    product_id UUID REFERENCES products(id) ON DELETE CASCADE,
    use_case_id UUID REFERENCES use_case_tags(id) ON DELETE CASCADE,
    PRIMARY KEY (product_id, use_case_id)
);

CREATE TABLE product_moods (
    product_id UUID REFERENCES products(id) ON DELETE CASCADE,
    mood_id UUID REFERENCES mood_tags(id) ON DELETE CASCADE,
    PRIMARY KEY (product_id, mood_id)
);
-- ============================================================================
-- MUFFIN NURSERY - SUPABASE DATABASE SCHEMA
-- Part 8: Helper Functions
-- ============================================================================

-- Search products with filters
CREATE OR REPLACE FUNCTION search_products(
    search_query TEXT DEFAULT NULL,
    category_slug TEXT DEFAULT NULL,
    use_case_slugs TEXT[] DEFAULT NULL,
    mood_slugs TEXT[] DEFAULT NULL,
    light_levels light_requirement[] DEFAULT NULL,
    difficulties difficulty_level[] DEFAULT NULL,
    min_price DECIMAL DEFAULT NULL,
    max_price DECIMAL DEFAULT NULL,
    is_pet_safe BOOLEAN DEFAULT NULL,
    is_new_arrival BOOLEAN DEFAULT NULL,
    sort_by TEXT DEFAULT 'relevance',
    page_size INTEGER DEFAULT 20,
    page_offset INTEGER DEFAULT 0
)
RETURNS TABLE (
    id UUID,
    sku TEXT,
    name TEXT,
    slug TEXT,
    price DECIMAL,
    stock_status stock_status,
    primary_image TEXT,
    category_name TEXT,
    total_count BIGINT
) AS $$
BEGIN
    RETURN QUERY
    WITH filtered_products AS (
        SELECT DISTINCT ON (p.id)
            p.id,
            p.sku,
            p.name,
            p.slug,
            p.price,
            p.stock_status,
            (SELECT url FROM product_images WHERE product_id = p.id AND is_primary = true LIMIT 1) as img,
            c.name as cat_name,
            CASE 
                WHEN search_query IS NOT NULL AND search_query != '' THEN
                    ts_rank(p.search_vector, plainto_tsquery('english', search_query))
                ELSE 0
            END as relevance
        FROM products p
        JOIN categories c ON p.category_id = c.id
        LEFT JOIN product_use_cases puc ON p.id = puc.product_id
        LEFT JOIN use_case_tags uct ON puc.use_case_id = uct.id
        LEFT JOIN product_moods pm ON p.id = pm.product_id
        LEFT JOIN mood_tags mt ON pm.mood_id = mt.id
        WHERE 
            p.published_at IS NOT NULL
            AND (search_query IS NULL OR search_query = '' OR p.search_vector @@ plainto_tsquery('english', search_query))
            AND (category_slug IS NULL OR c.slug = category_slug)
            AND (use_case_slugs IS NULL OR uct.slug = ANY(use_case_slugs))
            AND (mood_slugs IS NULL OR mt.slug = ANY(mood_slugs))
            AND (light_levels IS NULL OR p.light_requirement = ANY(light_levels))
            AND (difficulties IS NULL OR p.difficulty = ANY(difficulties))
            AND (min_price IS NULL OR p.price >= min_price)
            AND (max_price IS NULL OR p.price <= max_price)
            AND (is_pet_safe IS NULL OR p.is_pet_safe = is_pet_safe)
            AND (is_new_arrival IS NULL OR p.is_new_arrival = is_new_arrival)
    )
    SELECT 
        fp.id, fp.sku, fp.name, fp.slug, fp.price, fp.stock_status, fp.img, fp.cat_name,
        COUNT(*) OVER() as total_count
    FROM filtered_products fp
    ORDER BY
        CASE sort_by WHEN 'relevance' THEN fp.relevance END DESC NULLS LAST,
        CASE sort_by WHEN 'price_asc' THEN fp.price END ASC NULLS LAST,
        CASE sort_by WHEN 'price_desc' THEN fp.price END DESC NULLS LAST,
        CASE sort_by WHEN 'name' THEN fp.name END ASC NULLS LAST,
        fp.name ASC
    LIMIT page_size OFFSET page_offset;
END;
$$ LANGUAGE plpgsql;

-- Get product by slug
CREATE OR REPLACE FUNCTION get_product_by_slug(product_slug TEXT)
RETURNS JSON AS $$
DECLARE
    result JSON;
BEGIN
    SELECT json_build_object(
        'id', p.id,
        'sku', p.sku,
        'name', p.name,
        'slug', p.slug,
        'description', p.description,
        'price', p.price,
        'stock_status', p.stock_status,
        'is_pet_safe', p.is_pet_safe,
        'light_requirement', p.light_requirement,
        'category', json_build_object('id', c.id, 'name', c.name, 'slug', c.slug)
    ) INTO result
    FROM products p
    JOIN categories c ON p.category_id = c.id
    WHERE p.slug = product_slug AND p.published_at IS NOT NULL;
    
    RETURN result;
END;
$$ LANGUAGE plpgsql;
-- ============================================================================
-- MUFFIN NURSERY - SUPABASE DATABASE SCHEMA
-- Part 5: Indexes for Performance
-- ============================================================================

-- Categories
CREATE INDEX idx_categories_slug ON categories(slug);
CREATE INDEX idx_categories_parent ON categories(parent_id);
CREATE INDEX idx_categories_active ON categories(is_active, sort_order);

-- Tags
CREATE INDEX idx_use_case_tags_slug ON use_case_tags(slug);
CREATE INDEX idx_mood_tags_slug ON mood_tags(slug);

-- Products
CREATE INDEX idx_products_slug ON products(slug);
CREATE INDEX idx_products_sku ON products(sku);
CREATE INDEX idx_products_category ON products(category_id);
CREATE INDEX idx_products_stock ON products(stock_status);
CREATE INDEX idx_products_price ON products(price);
CREATE INDEX idx_products_new ON products(is_new_arrival) WHERE is_new_arrival = true;
CREATE INDEX idx_products_featured ON products(is_featured) WHERE is_featured = true;
CREATE INDEX idx_products_published ON products(published_at) WHERE published_at IS NOT NULL;
CREATE INDEX idx_products_search ON products USING GIN(search_vector);

-- Product related
CREATE INDEX idx_product_images_product ON product_images(product_id, sort_order);
CREATE INDEX idx_product_images_primary ON product_images(product_id) WHERE is_primary = true;
CREATE INDEX idx_product_variants_product ON product_variants(product_id, is_active);
CREATE INDEX idx_product_variants_sku ON product_variants(sku);
CREATE INDEX idx_care_info_product ON care_info(product_id);

-- Junction tables
CREATE INDEX idx_product_use_cases ON product_use_cases(use_case_id);
CREATE INDEX idx_product_moods ON product_moods(mood_id);

-- Customers and orders
CREATE INDEX idx_customers_email ON customers(email);
CREATE INDEX idx_customers_auth ON customers(auth_id);
CREATE INDEX idx_addresses_customer ON addresses(customer_id, is_active);
CREATE INDEX idx_orders_customer ON orders(customer_id);
CREATE INDEX idx_orders_status ON orders(status);
CREATE INDEX idx_orders_number ON orders(order_number);
CREATE INDEX idx_orders_created ON orders(created_at DESC);
CREATE INDEX idx_order_items_order ON order_items(order_id);
CREATE INDEX idx_order_items_product ON order_items(product_id);

-- Inventory and reviews
CREATE INDEX idx_inventory_log_product ON inventory_log(product_id);
CREATE INDEX idx_reviews_product ON reviews(product_id, is_approved);

-- Events and journal
CREATE INDEX idx_events_slug ON events(slug);
CREATE INDEX idx_events_upcoming ON events(datetime) WHERE datetime > NOW();
CREATE INDEX idx_journal_slug ON journal_posts(slug);
CREATE INDEX idx_journal_published ON journal_posts(published_at) WHERE published_at IS NOT NULL;
CREATE INDEX idx_journal_tags ON journal_posts USING GIN(tags);
-- ============================================================================
-- MUFFIN NURSERY - SUPABASE DATABASE SCHEMA
-- Part 7: Seed Data
-- ============================================================================

-- Mood tags
INSERT INTO mood_tags (slug, name, description, sort_order) VALUES
    ('soft', 'Soft', 'Gentle, muted, calming greens', 1),
    ('bright', 'Bright', 'Vibrant, energizing, sunny', 2),
    ('moody', 'Moody', 'Dark, dramatic, mysterious', 3);

-- Use case tags

-- Categories
